<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lookthings.users.dao.UserDao">
    <sql id="user_list_field">id,gmt_create,gmt_modified,user_name,user_password,user_description,role_id,user_mail,mail_valid</sql>
    <sql id="permission_list_field">id,gmt_create,gmt_modified,permission_name,permission_desc,role_id</sql>

    <select id="select" resultType="com.lookthings.users.model.UserDO">
        SELECT
        <include refid="user_list_field"/>
        FROM t_user
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="id!= null and id !='' ">id=#{id}</if>
            <if test="userName!= null and userName !=''and userName!='null' ">user_name=#{userName}</if>
        </trim>
    </select>

    <select id="userCount" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM t_user
    </select>

    <insert id="insert" parameterType="java.util.List">
        INSERT
        ignore
        INTO
        t_user (gmt_create,gmt_modified,user_name,user_password,user_description,role_id,user_mail,mail_valid)
        VALUES
        <foreach collection="list" item="user" index="index" separator=",">
            (CURRENT_TIME,CURRENT_TIME,#{user.userName},#{user.userPassword},#{user.userDescription},#{user.roleId},#{user.userMail},#{user.mailValid})
        </foreach>
    </insert>

    <update id="update" parameterType="java.util.List">
        UPDATE t_user
        <trim prefix="SET" suffixOverrides=",">
            <trim prefix="user_name = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.userName!=null and i.userName!='' and i.userName!='null'">
                        WHEN id=#{i.id}
                        THEN #{i.userName}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_password = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.userPassword!=null and i.userPassword!='' and i.userPassword!='null'">
                        WHEN id=#{i.id}
                        THEN #{i.userPassword}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_description = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.userDescription!=null and i.userDescription!='' and i.userDescription!='null'">
                        WHEN id=#{i.id}
                        THEN #{i.userDescription}
                    </if>
                </foreach>
            </trim>
            <trim prefix="user_mail = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.userMail!=null and i.userMail!='' and i.userMail!='null'">
                        WHEN id=#{i.id}
                        THEN #{i.userMail}
                    </if>
                </foreach>
            </trim>
            <trim prefix="mail_valid = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.mailValid!=null and i.mailValid!=''">
                        WHEN id=#{i.id}
                        THEN #{i.mailValid}
                    </if>
                </foreach>
            </trim>
            <trim prefix="role_id = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.roleId!=null and i.roleId!=''">
                        WHEN id=#{i.id}
                        THEN #{i.roleId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="gmt_modified = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    WHEN id=#{i.id}
                    THEN CURRENT_DATE
                </foreach>
            </trim>
        </trim>
        WHERE id IN
        <foreach collection="list" separator="," item="i" index="index" open="(" close=")">
            #{i.id}
        </foreach>
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM t_user WHERE id IN
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>